html {
	font-family: 'Open Sans', sans-serif;
}
body {
	width: 100%;
	margin: 0px;
	padding: 0px;
}
a, a:link, a:visited {
	text-decoration: none;
	color: #44c8ff;
}
a:hover {

}
iframe {
	width: 99%;
	height: 2300px;
	overflow-x: hidden;
}
ul {
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}
li {
	list-style: circle;
	text-align: left;
}
p {
	text-align: left;
}
form {
	text-align: left;
	max-width: 300px;
	width: 100%;
	display: block;
	margin: 30px auto;
	background: url('images/angle-line.png') #44C8FF repeat;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 20px;
}
textarea, input {
	float: right;
	width: 170px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #454546;
	line-height: 20px;
	padding: 5px;
}
input[type="submit"] {
	background: #454546;
	font-size: 20px;
	color: #BEBEBE;
	padding: 7px;
	cursor: pointer;
	border: none;
	width: 184px;
}
input[type="submit"]:hover {
	background: #707070;
	color: #FFFFFF;
}
label {
	color: #FFF;
	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
	margin: 5px 0;
	display: block;
}
h1, h2, h3, h4 {
	-webkit-margin-before: 0.25em;
	-webkit-margin-after: 0.25em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	text-align: center;
	font-weight: normal;
}
h1 {
	/*font-weight: bold;*/
	font-size: 40px;
	color: #4A407E;
}
h2 {
	font-size: 25px;
	color: #645E8B;
}
h3 {
	font-size: 15px;
	color: #8D8D8D;
}
h4 {
	font-size: 30px;
	color: #fff;
	/*border-top:1px solid #1E2649;
	border-bottom: 1px solid #1E2649;*/
	box-shadow: 0px 6px 12px #ddd;
	background: #00c0ff;
/*	padding-top: 20px;*/
	margin: 0px;
}
h6 {
	font-size: 30px;
	background: #000;
	color: #BEBEBE;
	width: 100%;
	display: block;
	text-align: center;
	padding: 20px 0;
	margin: 0px;
}
.wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.cleartop {
	/*padding-top: 250px;*/
	padding-top: 175px;
}
.cleartop > div {
	height: auto;
	display: block;
	padding: 50px 0 30px 0px;
}
.clear {
	clear: both;
}
.right {
	float: right;
}
.alignright {
	position: relative;
	right: 0px;
}
.anchor {
	display: block;
	position: relative;
	background: #1E2649;
	height: 30px;
	/*margin: 30px 0px 50px 0px;*/
}
.anchor:after{
	content: '';
	/* background: url('images/sprite.png') top left no-repeat; */
/*	background: url('images/sprite.png') #1E2649 -235px 10px no-repeat;
	width: 100px;*/
	width: 0px;
/*	height: 50px;
	margin-left: -50px;*/
	margin-left: -25px;
	left: 50%;
	display: inline-block;
	position: relative;
	bottom: 0px;
	z-index: 5;
/*	-moz-border-radius-bottomright: 100%;
	-moz-border-radius-bottomleft: 100%;
	border-bottom-right-radius: 100%;
	border-bottom-left-radius: 100%;
	-webkit-border-bottom-right-radius: 100%;
	-webkit-border-bottom-left-radius: 100%;*/
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 20px solid #00c0ff;
}
.anchor:hover {
	background: #2C3353;
}
.anchor:hover:after {
	background: url('images/sprite.png') #2C3353 -143px 10px no-repeat;
}
#nav {
	position: fixed;
	top: 0px;
	display: block;
	height: 60px;
	text-transform: uppercase;
	color: #fff;
	font-size: 18px;
	text-align: right;
	width: 100%;
	line-height: 60px;
	background: #454546;
	z-index: 1000;
	overflow: hidden;
	border-bottom: 3px solid #44C8FF;
	box-shadow: 0px 3px 4px #DDD;
}
#nav .hamburger,
#nav .mobile_super {
	display: none;
}
#nav ul {
	padding: 0px;
	margin: 0px auto;
	max-width: 1200px;
	background: url('images/shark.png') #454546 no-repeat;
}
#nav li {
	display: inline-block;
	list-style: none;
}
#nav li:hover {
	background: #707070;
}
#nav li a {
	height: 100%;
	padding: 0 9px;
	display: block;
}
#nav a, #nav a:link, #nav a:visited {
	color: #BEBEBE;
}
#nav a:hover {
	color: #FFFFFF;
}

#nav .social,
#footer .social,
#nav .social:hover,
#footer .social:hover,
.sprite, #nav .sprite:hover {
	background: url('images/sprite.png') no-repeat;
}
#nav .social,
#footer .social,
#nav .social:hover,
#footer .social:hover {
	text-indent: -1999px;
	display: block;
	/*height: 22px; 30px - 8px padding = 22px */
	/*width: 0px; 30px - 30px padding = 0px */
	height: 100%;
	width: 30px;
}
#nav .linkedin,
#nav .linkedin:hover {
	background-position:-36px 15px;
}
#footer .linkedin,
#footer .linkedin:hover {
	background-position: -73px -71px;
}
#nav .twitter,
#nav .twitter:hover {
	background-position:0px 15px;
	/*width: 3px; 33px - 3opx padding = 3px */
	width: 33px;
}
#footer .twitter,
#footer .twitter:hover {
	background-position: -38px -71px;
}
#nav .contact,
#nav .contact:hover {
	background-position:-66px 15px;
}
#nav .bitbucket,
#nav .bitbucket:hover {
	background-position: -100px 15px;
}
.source_icon_small img {
	height: 12px;
	width: auto;
	margin-right: 8px;
}
#footer .bitbucket,
#footer .bitbucket:hover {
	background-position: -104px -71px;
}
#footer .wordpress,
#footer .wordpress:hover {
	background-position: -134px -71px;
	width: 32px;
}
#footer .php,
#footer .php:hover {
	background-position: -166px -71px;
	width: 56px;
}
#footer .youtube,
#footer .youtube:hover {
	background-position: -223px -71px;
	width: 67px;
}
#footer .facebook,
#footer .facebook:hover {
	background-position: -291px -71px;
	width: 28px;
}
#footer .nodejs,
#footer .nodejs:hover {
	background-position: -320px -71px;
	width: 85px;
}
#footer .android,
#footer .android:hover {
	background-position: -439px -71px;
	width: 26px;
}
#footer .chrome,
#footer .chrome:hover {
	background-position: -406px -71px;
	width: 32px;
}
.footer_title {
	color: #454546;
	text-transform: uppercase;
	text-align: left;
	display: block;
	margin-bottom: 10px;
}
#about {
	background: url('images/mike_reg.png') no-repeat bottom left;
	text-align: right;
}
#greetings { text-align: center; }
.content span {
	font-weight: bold;
	color: #44C8FF;
}
.half {
	width: 50%;
}
#stats ol ul {
	background: #fff;
	padding: 2%;
}
#stats ol li div {
	display: block;
}
#stats li {
	list-style: none;
}
.font-medium, #stats li { font-size: 13px; }
/*#stats > ul > li {
	width: 14%;
	padding: 0 1%;
	list-style: none;
	display: table-cell;
	vertical-align: top;
}*/
.content {
	width: 75%;
	display: inline-block;
}
.content span {
	text-align: left;
}
#featured {
	position: fixed;
	top: 60px;
	display: block;
	width: 100%;
	z-index: 999;
	background: #fff;
	padding: 5px 0 10px 0;
	box-shadow: 0px 3px 4px #DDD;
	/*overflow: hidden;*/
	/*border-bottom: 1px solid #454546;*/
}
#featured li {
	width: 16%;
	padding: 0 2%;
	list-style: none;
	text-align: center;
	line-height: 1.6em;
	font-size: 0.8em;
	color: #5E5E5E;
	display: table-cell;
	vertical-align: top;
}
#featured li img {
	width: 100%;
	height: auto;
	display: block;
	max-width: 150px;
	margin: 0 auto;
	filter: grayscale(65%);
	-webkit-filter: grayscale(65%);
}
#featured li img:hover {
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
}
#featured a {
	color: #000;
}
#featured a:hover {
	color: #44c8ff;
}
#aboutme {
	text-align: center;
}
#aboutme li {
	width: 22%;
	margin: 0 0.9%;
	display: inline-block;
	text-align: center;
	vertical-align: top;
}
#aboutme li span {
	font-size: 0.8em;
	font-weight: normal;
	color: #000;
}
#aboutme li img {
	/*width: 50%;*/
	display: block;
	margin: auto;
	width:150px;
}
#press {
	background: #383c45;
}
#press ul {
	margin: 20px 0;
}
#press li {
	margin: 5px;
	text-align: center;
}
#portfolio {
/*	background: #E0EFFF;*/
}
#portfolio div {
	padding: 50px 0;
}
#portfolio ul {
	/*margin: 35px 0;*/
}
#portfolio #filters {
	padding: 0px;
	text-align: center;
	margin: 2% 0;
}
#portfolio li {
	list-style: none;
	width:25%;
	display: block;
	width: 25%;
	text-align: center;
	/*
	margin: 2%;
	max-width: 19%;
	*/
}
#portfolio li a {
	display: block;
	padding: 20px;
    box-sizing: border-box;
	/* height: 100%; */
	/* width: 100%; */
}
#portfolio li img {
	max-width: 100%;
	height: auto;
	display: inline-block;
}
.filter {
	background: #000;
	display: inline-block;
	text-align: center;
	color: #FFFFFF;
	padding: 5px 15px;
	cursor: pointer;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 1% 1%;
}
.filter:hover {
	background: #454546;
	color: #BEBEBE;
}
.transparentimage {
	background: #00c0ff;
}
.transparentimageblack {
	background: #000;
}
#awards {
/*	background: #dfdfdf;*/
	background: #fff;
	padding: 25px 0;
}
#awards>ul,
#aboutme>ul {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#awards>ul>li p,
#aboutme>ul>li p {
    text-align: center;
}
#awards li {
	list-style: none;
	width: 20%;
	padding: 0 2%;
	text-align: center;
	font-size: 0.8em;
	/*display: table-cell;*/
	display: inline-block;
	vertical-align: top;
}
#awards li .awardname {
	font-weight: bold;
}
#awards li img {
	width: 100%;
	max-width: 150px;
	height: auto;
	margin: 8px auto 0px auto;
	display: block;
	filter: grayscale(65%);
	-webkit-filter: grayscale(65%);
}
#awards li a:hover img {
	filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
}
#footer {
	margin-top: 10px;
	border-top: 3px solid #44C8FF;
	height: 100%;
	width: 100%;
	background: #000;
	padding: 0px;
}
#footer .wrapper {
	margin: 20px auto;
	width: 92%;
}
#footer > div {
	text-align: center;
}
#footer .sociallinks {
	width: 15%;
	margin: 0 5%;
}
#footer .opensource {
	/*max-width: 193px;*/
	max-width: 215px;
	width: 25%;
	margin: 0 0 20px 0;
	padding-left: 5%;
	border-left: 1px dashed #454546;
}
#footer .icons li {
	display: inline-block;
	float: left;
	padding: 0 10px 10px 0;
}
#footer a {
	color: #454546;
}
#footer a:hover {
	color: #BEBEBE;
}
#footer .icons .social {
	height: 30px;
}
#footer .icons .social:hover {
	background-position-y: -103px;
}
#footer .nav {
	width: 35%;
	margin: 0;
	text-align: left;
}
#footer .nav li {
	width: auto;
	display: inline-block;
	margin-right: 3%;
	text-align: left;
}
.copy {
	color: #fff;
	font-size: 0.8em;
	color: #454546;
	width: 100%;
	display: block;
	text-align: left;
	border-top: 1px dashed #454546;
	display: block;
	padding: 10px 0px;
}
.clearboth, #message {
	clear: both;
}
#contact {

}
.screen-reader-response {
	display: none;
}
.four-o-four {
	font-size: 50px;
	text-align: center;
	margin: auto;
	display: block;
	padding: 35px 0;
}
@media screen and (max-width : 768px) {
	#nav {
		line-height: 40px;
	}
	#nav .social {
		display: none;
	}
	#nav ul li:first-child, #nav ul li:first-child:hover {
		display: inline-block;
		border: none;
		background: none;
	}
	#nav .hamburger, #nav .hamburger:hover {
		display: block;
		background-position: 0px -71px;
		width: 33px;
		height: 30px;
		margin: 15px;
		cursor: pointer;
	}
	#nav .mobile_super {
		display: inline-block;
		float: right;
		width: auto;
	}
	#nav .mobile_super li {
		border: none;
		float: left;
		display: inline-block;
		width: auto;
	}
	#nav .mobile_super .social {
		height: 60px;
		display: block;
	}
	#nav ul {
		background: none;
	}
	#nav li {
		display: block;
		width: 100%;
		text-align: center;
		height: auto;
		border-top: 1px solid #bebebe;
	}
	#nav li a, #nav .hamburger .social, #nav .hamburger .social:hover {
		display: inline-block;
		height: auto;
	}
	#featured li,
	#aboutme li {
		font-size: 0.6em;
		line-height: 1.2em;
	}
	#awards li {
		display: inline-block;
		width: 45%;
		padding: 2%;
	}
	#portfolio li {
		margin: 2%;
		width: 25%;
	}
}
@media screen and (max-width : 480px) {
	form {
		max-width: 250px;
		width: 100%;
	}
	label {
		display: none;
	}
	textarea, input {
		float: none;
		width: 100%;
	}
	#awards li {
		display: block;
		width: 99%;
		padding: 2% 0;
	}
	#about {
		padding-top: 0px;
	}
	.cleartop {
	padding-top: 205px;
	}
	#about {
		background: none;
	}
	.content {
		width: 100%;
	}
	#featured li {
		font-size: 0.4em;
		line-height: 1.0em;
	}
	.footer_title {
		display: none;
	}
}
